<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.kgutbank.mvc05.BookmarkDTO" alias="bookDTO"></typeAlias>
		<typeAlias type="com.kgutbank.mvc05.MemberDTO" alias="memberDTO"></typeAlias>
	</typeAliases>
	
	<mappers>
		<mapper resource="book.xml" />
		<mapper resource="member.xml" />
	</mappers>
	
</configuration>
